.container {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h2 {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
  }

  & > p {
    font-size: 0.825rem;
    margin: 0;
    color: #777777;
  }

  .promptInput {
    width: 100%;
  }

  .loadingWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 0;
  }

  .imagesContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;

    .imageWrapper {
      border: 2px solid #cecece;
      border-radius: 0.5rem;
      overflow: hidden;
      width: 100%;
      height: 100%;
      transition: all 0.3s;
      aspect-ratio: 2 / 1;
      position: relative;

      img {
        width: 100%;
        min-height: 100%;
        object-fit: cover;
      }

      .backdrop {
        background-color: rgba(0, 0, 0, 0.3);
        position: absolute;
        inset: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.3s;
      }

      &:hover {
        border: 2px solid #047857;

        .backdrop {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}
