.slider {
  width: 100%;
  height: 1px;
  background-color: #D1F1E4; /* Replace with Upsiide theme color */
  border-radius: 9999px; /* Large value to make it rounded */

  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 3px;
  height: 3px;
  background-color: #047857; /* Replace with Upsiide theme color */
  border-radius: 50%; /* To make it rounded */
}

.slider::-moz-range-thumb {
  -moz-appearance: none;
  width: 3px;
  height: 3px;
  background-color: #047857; /* Replace with Upsiide theme color */
  border-radius: 50%;
}

.slider::-ms-thumb {
  -ms-appearance: none;
  width: 3px;
  height: 3px;
  background-color: #047857; /* Replace with Upsiide theme color */
  border-radius: 50%;
}

